<!DOCTYPE html>
<html lang="zh-Hant">

{{template "head" .}}

<body>
    <div class="container">
        {{template "header"}}
        {{template "slogan"}}
        <div id="main" class="row bg-info">
            <div id="add" class="col-md-4 col-md-push-4">
                <div class="center-text">
                    {{template "counter" .}}
                </div>
                <div class="center-text">
                    <p>username: @PttAlertorTiauiBot</p>
                </div>
                <div class="center-text">
                    <a href="https://t.me/PttAlertorTiauiBot">https://t.me/PttAlertorTiauiBot</a>
                </div>
            </div>
            <div id="command" class="col-md-4 col-md-pull-8">
                {{template "command"}}
            </div>
        </div>
        {{template "footer"}}
    </div>
    {{template "script" .}}
</body>

</html>
